# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc

# Virtual environment
.venv/
venv/
ENV/
.env
env/
env.bak/
venv.bak/

# Django
*.log
*.pot
*.pyc
*.mo
db.sqlite3
media/
staticfiles/
*.sqlite3


# PyCharm
.idea/
*.iml
*.ipr
*.iws

# VSCode
.vscode/

# OS
.DS_Store
Thumbs.db
